/* JS disabled styles */
.no-js nav li:hover ul { display:block; }

/* base nav styles */
nav {
	display:block;
	margin:0 auto 15px;
	border:0px solid #666;
	position:relative;
	font:13px Tahoma, Sans-serif;
	
}
nav ul { padding:0; margin:0; }
nav li { position:relative; float:left; list-style-type:none; }
nav ul:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
nav li a { display:block; padding:9px 9px; border-left:1px solid #eee; border-right:0px solid #222; text-decoration:none; }
nav li a:focus { outline:none; text-decoration:underline; }
nav li:first-child a { border-left:none; }
nav li.last a { border-right:none; }
nav a span { display:block; float:right; margin-left:1px; }
nav ul ul { display:none; width:100%; position:absolute; left:0; background:#ffffff; }
nav ul ul li { float:none; }
nav ul ul a {
	padding:15px 15px;
	border-left:none;
	border-right:none;
	font-size:13px;
}
Save this file in the css directory as nav.css. The first rule is purely for when JavaScript is disabled, and allows the hidden submenu to be displayed on hover purely with CSS. The rest of the code defines a set of base styles that format the <nav> menu in the way that we want without adding anything too decorative. Note that we’re using the :after pseudo-selector to clear the floated list items; normally this would be added using a class name to that it could be applied to the containers of any floated elements on the page. At this point our page should look like this:

/* CSS3 */
.borderradius nav { -moz-border-radius:25px; -webkit-border-radius:25px; border-radius:25px; }
.cssgradients nav { background-image:-moz-linear-gradient(0% 0px 90deg, #555, #fff); background-image:-webkit-gradient(linear, 100% 100%, 100% 100%, from(#fff), to(#999)); }
.boxshadow.rgba nav { -moz-box-shadow:1px 1px 1px rgba(0,0,0,.25); -webkit-box-shadow:1px 1px 1px rgba(0,0,0,.25); box-shadow:1px 1px 1px rgba(0,0,0,.25); }
.cssgradients nav li:hover { background-image:-moz-linear-gradient(0% 100px 90deg, #444, #eee); background-image:-webkit-gradient(linear, 0% 0%, 0% 0%, from(#eee), to(#E8E8E8)); }
.borderradius nav ul ul { -moz-border-radius-bottomleft:4px; -moz-border-radius-bottomright:4px; -webkit-border-bottom-left-radius:4px; -webkit-border-bottom-right-radius:4px; border-bottom-left-radius:4px; border-bottom-right-radius:4px; }
.boxshadow.rgba nav ul ul { background-color:rgba(0,0,0,0.3); -moz-box-shadow:1px 1px 1px rgba(0,0,0,.3); -webkit-box-shadow:1px 1px 1px rgba(0,0,0,.3); box-shadow:1px 1px 1px rgba(0,0,0,.3); }
.rgba nav ul ul li { border-left:1px solid rgba(0,0,0,0.1); border-right:1px solid rgba(0,0,0,0.1); }
.rgba nav ul ul a:hover { background-color:rgba(45,45,45,.9); }
.borderradius.rgba nav ul ul li.last { border-left:1px solid rgba(0,0,0,0.1); border-bottom:1px solid rgba(0,0,0,0.1); -moz-border-radius-bottomleft:2px; -moz-border-radius-bottomright:2px; -webkit-border-bottom-left-radius:2px; -webkit-border-bottom-right-radius:2px; border-bottom-left-radius:2px; border-bottom-right-radius:2px; }
.csstransforms ul a span { -moz-transform:rotate(-180deg);-webkit-transform:rotate(-180deg); }

/* fallbacks */
.no-cssgradients nav, .no-js nav { padding-bottom:4px; border:none; background:#ffffff; }
.no-borderradius nav ul, .no-js nav ul { background:none; }
.no-borderradius nav ul ul, .no-js nav ul ul { background:none; }
.no-borderradius nav li, .no-js nav li { height:44px; }
.no-cssgradients nav li:hover, .no-js nav li:hover { background:#ffffff; }
.no-borderradius nav li li, .no-js nav li li { height:auto; width:98%; left:-0px; }
.no-borderradius nav li:first-child, .no-js nav li:first-child { background:none; }
.no-borderradius nav li:first-child:hover, .no-js nav li:first-child:hover { background:none; }
.no-borderradius nav li li:first-child, .no-js nav li li:first-child { background:none; }
.no-rgba nav ul ul, .no-js nav ul ul { left:1px; padding-left:2px; background:#ffffff; }
.no-rgba nav ul ul a, .no-js nav ul ul a { left:3px; }
.no-rgba nav ul ul a:hover { background:#ffffff; }
.no-csstransforms ul a span { height:7px; width:12px; margin-top:8px; text-indent:-5000px; overflow:hidden; background:#ffffff; }
.no-borderradius ul ul li.last { margin-bottom:10px; }
.no-cssgradients.boxshadow nav { box-shadow:none; }
